.gradient-text {
  background: linear-gradient(
    to left, 
    rgb(0, 224, 255) 0%, 
    rgb(250, 0, 255) 33%, 
    rgb(0, 224, 255) 66%, 
    rgb(250, 0, 255) 100%
    );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-shift 30s ease infinite;
}

@keyframes gradient-shift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@tailwind base;
@tailwind components;
@tailwind utilities;